body{
    color: #fa6551;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    border: 1px solid #111111;
    text-align: left;
    padding: 20px;
}
.contenedor p{
    color: #5bbd5b;
}
.contenedor__cabecera{
    border: 1px solid #3633f1;
    padding: 20px;
    background: #3633f1;
}
.contenedor__titulo{
    text-align: center;
}
.contenedor__cabecera span{
    font-size: 20px;
    margin-right: 20px;
    color: #ffffff;
}
.contenedor__cabecera strong{
    font-size: 15px;
    color: #ffffff;
}